// Component styles
:host {
	display: block;
}

// Avatar styling
:host ::ng-deep .employee-bio-avatar {
	width: 96px !important;
	height: 96px !important;
	font-size: 2rem !important;
	font-weight: 600 !important;
}

